*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color_primario: white;
    --color_secundario: rgb(57, 140, 173);
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --font_style_lexend: "Lexend Deca", sans-serif;
    --font_style_gruppo: "Gruppo", sans-serif;
}

/* ------------- */

body{
    width: 90vw;
    scroll-behavior: smooth;
}

.header {
    height: var(--altura_header);
    width: 100vw;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
}

.menu_hamburguesa{
    display: none;
}
/* Cuando el menu hamburguesa este chequeado,tipo checkbox, a su hermano adyasente (ul_links), quiero que le des este estilo.*/

.menu_hamburguesa:checked + .ul_links {
    height: calc(100vh - var(--altura_header));
}

/* ---------  Titulo de la pagina -------- */

.title {
    font-family: var(--font_style_lexend);
    font-weight: 400;
    padding: 10px 10px 0 30px;
    font-size: 19px;

}
.title__secundario {
    font-family: var(--font_style_gruppo);
    font-size: 15px;
    padding-left: 54px;
}



/* ---------- lista de enlaces a otras paginas -------------- */

.ul_links {
    list-style: none;
    width: 100%;
    position: absolute;
    top: var(--altura_header);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 219, 176) ;
    left: 0;
    height: 0;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}


.li_links {
    padding-top: 11px;
    
}


.link {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.link:hover{
    color: rgb(10, 93, 156);
}


/*--------------------------------------*/

/* -------- Imagen principal del sitio -------- */

.content{
    display: inline-block;
    position: relative;
    text-align: center;
    height: auto;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}