*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color_primario: white;
    --color_secundario: rgb(57, 140, 173);
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --font_style_lexend: "Lexend Deca", sans-serif;
    --font_style_gruppo: "Gruppo", sans-serif;
}

body{
    width: 90vw;
    scroll-behavior: smooth;
}

.header {
    height: var(--altura_header);
    width: 100vw;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
}

.menu_hamburguesa{
    display: none;
}
/* Cuando el menu hamburguesa este chequeado,tipo checkbox, a su hermano adyasente (ul_links), quiero que le des este estilo.*/

.menu_hamburguesa:checked + .ul_links {
    height: calc(100vh - var(--altura_header));
}