*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color_primario: white;
    --color_secundario: rgb(57, 140, 173);
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --font_style_lexend: "Lexend Deca", sans-serif;
    --font_style_gruppo: "Gruppo", sans-serif;
}

/* ------------- */

body{
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header {
    height: var(--altura_header);
    width: 100vw;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
}

.label_hamburguesa{
    padding-right: 20px;
}

.menu_hamburguesa{
    display: none;
}
/* Cuando el menu hamburguesa este chequeado,tipo checkbox, a su hermano adyasente (ul_links), quiero que le des este estilo.*/

.menu_hamburguesa:checked + .ul_links {
    height: calc(100vh - var(--altura_header));
}

/* ---------  Titulo de la pagina -------- */

.title {
    font-family: var(--font_style_lexend);
    font-weight: 400;
    padding: 10px 10px 0 30px;
    font-size: 19px;

}
.title__secundario {
    font-family: var(--font_style_gruppo);
    font-size: 15px;
    padding-left: 54px;
}



/* ---------- lista de enlaces a otras paginas -------------- */

.ul_links {
    list-style: none;
    width: 100%;
    position: absolute;
    top: var(--altura_header);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 219, 176) ;
    left: 0;
    height: 0;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}


.li_links {
    padding-top: 11px;
    
}


.link {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.link:hover{
    color: rgb(10, 93, 156);
}


/*--------------------------------------*/

/* -------- Imagen principal del sitio -------- */

.content{
    display: inline-block;
    position: relative;
    text-align: center;
    height: auto;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.figure_img{
    position: relative;
    display: flex;
} 


.img{
    width: 100vw;
    height: auto;
    object-fit: cover;
    
}

/* ---------- Botón de enlace ------------ */

.content_enlace{
    display: inline-block;
    position: absolute;
    width: 120px;
    height: 55px;
    top: 350px;
    bottom: 0;
    left:0;
    right: 0;
    text-align: center;
    justify-self: center;
    justify-content: center;
    font-family: var(--font_style_lexend);
    text-decoration: none;
    padding: 15px;
    font-size: 1.2rem;
    color: black;
    background-color: rgb(251, 183, 75);
    border-radius: 10px;
    border: 1.5px solid white;
}

.content_enlace:hover{
    position: absolute;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: rgb(251, 183, 75);
    transition: .2s;
    border: 1.5px solid rgb(251, 183, 75) ;
}

/* ------- Texto sobre la imagen --------- */

.text{
    width: 100vw;
    height: 54px;
    position: absolute;
    top: 70px;
    bottom: 0;
    left:0;
    right: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--font_style_gruppo);
    font-weight: 200;
    font-size: 1.7rem;
    background-color: rgba(255, 255, 255, 0.316);
    
}

.text2{
    width: 100vw;
    height: 60px;
    position: absolute;
    top: 160px;
    bottom: 0;
    left:0;
    right: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--font_style_lexend);
    letter-spacing: 9px;
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.315);
    
}

.text3{
    width: 90vw;
    height: 60px;
    position: absolute;
    top: 450px;
    bottom: 0;
    left: 18px;
    right: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-family: var(--font_style_gruppo);
    letter-spacing: 3px;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    background-color: rgba(251, 183, 75, 0.964);
    padding-top: 8px;
}

/* --------- Siguiente seccion ----------- */

.raya{
    font-weight: 900;
    color: black;
    font-size: 2.7rem;
    margin-left: 22.5px;
}


.section{
    height: auto;
    width: 100vw;
    font-weight: 200;
    font-size: 1.5rem;
    padding: 30px 21px;
}

.second_title{
    font-family: "Lexend deca", sans-serif;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.article_parrafo{
    font-size: 1.1rem;
    overflow: hidden;
    text-align: justify;
    padding-top: 11px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 28px;
    letter-spacing: .5px;
}

/* Botón de enlace de esta seccion */

.sec_enlace{
    display: inline-block;
    overflow: hidden;
    color: black;
    background-color: rgb(251, 183, 75);
    border-radius: 10px;
    border: 1.5px solid black;
    text-decoration: none;
    padding: 15px;
    margin-top: 20px;
    font-size: 1.2rem;
    font-family: var(--font_style_lexend);
}

.sec_enlace:hover{
    background-color: black;
    color: rgb(251, 183, 75);
    transition: .2s;
    border: 1.5px solid rgb(251, 183, 75) ;
    text-decoration: none;
    font-family: var(--font_style_lexend);
    padding: 15px;
    transition: .2s;
}


/* ----------- Seccion 2 ---------- */

.section2{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 20px;
}


.img2{
    width: 100vw;
    border-radius: 50%;
}